---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/exchange-rates?currency=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"bdfcb1a5d94975dc179fda4211fd3cbb"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        report-uri="https://coinbase.report-uri.io/r/default/hpkp/enforce"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency":"USD","rates":{"AED":"3.67","AFN":"69.54","ALL":"112.26","AMD":"481.54","ANG":"1.78","AOA":"165.92","ARS":"18.05","AUD":"1.30","AWG":"1.79","AZN":"1.70","BAM":"1.65","BBD":"2.00","BCH":"0.00044445","BDT":"82.77","BGN":"1.65","BHD":"0.377","BIF":"1756","BMD":"1.00","BND":"1.34","BOB":"6.91","BRL":"3.33","BSD":"1.00","BTC":"0.00007600","BTN":"64.05","BWP":"10.02","BYN":"1.99","BYR":"19863","BZD":"2.01","CAD":"1.28","CDF":"1562.88","CHF":"0.99","CLF":"0.0230","CLP":"623","CNY":"6.58","COP":"2965.50","CRC":"565.49","CUC":"1.00","CVE":"93.40","CZK":"21.75","DJF":"179","DKK":"6.29","DOP":"48.39","DZD":"115.22","EEK":"14.61","EGP":"17.86","ERN":"15.10","ETB":"27.39","ETH":"0.00158731","EUR":"0.84","FJD":"2.05","FKP":"0.75","GBP":"0.75","GEL":"2.53","GGP":"0.75","GHS":"4.53","GIP":"0.75","GMD":"47.57","GNF":"9025","GTQ":"7.35","GYD":"206.03","HKD":"7.82","HNL":"23.64","HRK":"6.37","HTG":"64.18","HUF":"263","IDR":"13557.21","ILS":"3.48","IMP":"0.75","INR":"64.02","IQD":"1191.900","ISK":"106","JEP":"0.75","JMD":"124.78","JOD":"0.709","JPY":"113","KES":"103.00","KGS":"69.48","KHR":"4036.45","KMF":"415","KRW":"1077","KWD":"0.302","KYD":"0.83","KZT":"334.84","LAK":"8321.40","LBP":"1515.67","LKR":"152.84","LRD":"125.49","LSL":"12.76","LTC":"0.00422021","LTL":"3.22","LVL":"0.66","LYD":"1.364","MAD":"9.43","MDL":"17.19","MGA":"3232.0","MKD":"52.02","MMK":"1362.35","MNT":"2425.61","MOP":"8.05","MRO":"355.1","MTL":"0.68","MUR":"33.90","MVR":"15.41","MWK":"725.44","MXN":"19.55","MYR":"4.08","MZN":"59.00","NAD":"12.62","NGN":"359.46","NIO":"30.81","NOK":"8.34","NPR":"102.44","NZD":"1.43","OMR":"0.385","PAB":"1.00","PEN":"3.24","PGK":"3.22","PHP":"50.14","PKR":"110.66","PLN":"3.54","PYG":"5620","QAR":"3.64","RON":"3.92","RSD":"100.42","RUB":"58.34","RWF":"858","SAR":"3.75","SBD":"7.75","SCR":"13.42","SEK":"8.36","SGD":"1.34","SHP":"0.75","SLL":"7648.39","SOS":"578.46","SRD":"7.46","SSP":"130.26","STD":"20674.89","SVC":"8.75","SZL":"12.76","THB":"32.74","TJS":"8.81","TMT":"3.51","TND":"2.474","TOP":"2.27","TRY":"3.82","TTD":"6.73","TWD":"29.90","TZS":"2245.10","UAH":"27.96","UGX":"3621","USD":"1.00","UYU":"28.87","UZS":"8068.95","VEF":"10.50","VND":"22706","VUV":"106","WST":"2.55","XAF":"554","XAG":"0","XAU":"0","XCD":"2.70","XDR":"1","XOF":"554","XPD":"0","XPF":"101","XPT":"0","YER":"250.30","ZAR":"12.61","ZMK":"5253.08","ZMW":"9.77","ZWL":"322.36"}}}'
  recorded_at: Fri, 22 Dec 2017 15:37:49 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/exchange-rates?currency=BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"34518579622173b9328be02b0ada49e8"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOM[...]
